$primaryColor: rgba(255, 255, 255, 1);
$baseHoverColor: bisque;
$btnBackgroundColor: rgba(58, 69, 116, 1);
$darkColor: rgba(0, 0, 0, 1);
$goldenColor: rgba(211, 180, 127, 1);
$bgReviews: rgba(58, 69, 116, 1);

